* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; }
form { background: #000; padding-top: 3px; position: absolute; bottom: 0; width: 100%; display: inline-block; clear: both; }
form input { border: none; padding: 10px; width: 80%; margin-right: .5%; }
form button { width: 19.5%; background: #82E0FF; border: none; padding: 10px; }
.main { height: 500px; width: 350px; border: solid; margin: 3px; position: relative;  resize: vertical;}
.chat-header { background: #82E0FF; border-bottom: solid; padding: 2px 5px; }
#message-list { height: 420px; overflow: auto;}
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; margin: 10px; border-radius: 15px;}
#messages .own { background: #82E0FF; text-align: right; margin-left: 40%;}
#messages .stranger { background: #ddd; text-align: left; margin-right: 40%;}